{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
  </script>
</head>
<body>

<h2 align="center">Kenalan Kuy !!</h2>

<div id="accordion">
  <h3>Tentang Fikri</h3>
  <div style="height: 250px">
    <p>
    sering dipanggil fikri, abeng whatever lah pkonya, nah disini saya ingin menulis sesuatu tapi gatau, soalnya ini buat tugas..btw tadi gue nnton a star is born gila sih cakep bat pelemnya sumpah, soalnya si bradley cooper nya aligggg..keren bat aktingnya..buat lady gaga nya juga..sekarang ini pas lagi nulis ini gua sambil dengerin lagu I'll never love again nya lady gaga which is soundtrack dari pelem itu, gila nyentuh banget pkonya..ehh ternyata kurang panjang, gatau kenapa akhirnya gua nulis lagi..hehehe...kenapa?? soalnya biar keisi penuh gtu..yegakk..wkwkwk gua pen liburan sumpah, ke jepang atau ga ke celepu kepi hehehehe...gua liat dlu yak dah penuh apa belom..anjirrr belomm, </p>
    <p>
      gua copas ae dr yg atas sering dipanggil fikri, abeng whatever lah pkonya, nah disini saya ingin menulis sesuatu tapi gatau, soalnya ini buat tugas..btw tadi gue nnton a star is born gila sih cakep bat pelemnya sumpah, soalnya si bradley cooper nya aligggg..keren bat aktingnya..buat lady gaga nya juga..sekarang ini pas lagi nulis ini gua sambil dengerin lagu I'll never love again nya lady gaga which is soundtrack dari pelem itu, gila nyentuh banget pkonya..ehh ternyata kurang panjang, gatau kenapa akhirnya gua nulis lagi..hehehe...kenapa?? soalnya biar keisi penuh gtu..yegakk..wkwkwk gua pen liburan sumpah, ke jepang atau ga ke celepu kepi hehehehe...gua liat dlu yak dah penuh apa belom..anjirrr belomm, nah udah lah cukup..hehe 
    </p>
    <div class="poto" align="center">
        <img src={% static "pict/abeng.png" %}>
    </div>
  </div>
  <h3>Riwayat Organisasi dan Kepanitiaan</h3>
  <div>
    <p> - Alfurqon Post </p>
    <p> - OSIS MAN IC Gorontalo bagian Bahasa</p>
    <p> - PO THE KING 2015 tingkat Provinsi Gorontalo</p>
    <p> - PJ Acara Scout Competation Insan Cendekia 2015 tingkat provinsi</p>
    <p> - PJ Acara Excellent 2016 tingkat Sekolah</p>
  </div>
  <h3>Prestasi</h3>
  <div>
    <p> - Juara berturut 6 kali lomba makan kerupuk tingkat desa (pas SD)</p>
    <p> - Juara tarkam sepak bola (2018) </p>
    <p> - Pemain terbaik tarkam (2018)</p>
    <p> - juara english speech contest tingkat kabupaten tasikmalaya</p>
  </div>
</div>
 
 
</body>
</html>