.poto {
    padding: 5px;
    height: 0vh;
    margin: 10px;

}

.active {
    background-color: #4CAF50;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: none;
    height: 250px;
    
}

.active, .accordion:hover {
    background-color: #ccc; 
}

.panel {
    padding: 0 18px;
    display: none;
    height: 250px;
    background-color: white;
    overflow: hidden;
}